html, body {
	margin: 0;
 padding: 0;
 width: 100%;
}

body {
    max-width: unset !important; /* ta bort begränsningen */
    box-shadow: none !important; /* undvik att iframen klipper skuggan */
}

header {
 background:#D0043C;
	padding: 20px;
	color: #fff;
	text-shadow: 2px 2px 5px #222;
}

 .bg {
	color:white;
	background:#CAD400;
	background-size:100%;
	margin:auto auto;
	padding: 20px 40px;
	color:#000;
	font-family:PT Sans;
	font-size:20px;
	
}

 .title{
	text-align:center;
	font-family:"PT Sans";
	font-weight:bold;
	font-size: 40px;
	letter-spacing: 1px;
}

section{
	display:none;
	text-align:center;
	padding:20px;
}

hr {
	display: block;
 margin-top: 0.5em auto;
 border-style: inset;
 border-width: 1px;
	border-color:#fff;
}
hr.img{
	border:none;
	width:300px;
	height:25px;
	margin:20px auto;
	background-size:100%;
}

button{
	margin:5px;
	padding:10px 20px;
	color:#fff;
	font-size:25px;
	font-family:inherit;
	font-weight:bold;
	background:#D0043C;
	border:groove 2px #D0043C;
	border-radius: 10px;
}

button:active{
	border:groove 2px lightgray;
}

p{
	color:#000;
	font-size:18px;
	font-style:normal;
	margin: 0px 0px 20px 0px;
}

p.large{
	color:#000;
	font-size:20px;
	font-style:normal;
}

p.query{
	margin: 10px;
	padding:10px 0px;
	color:#fff;
	font-size:25px;
	font-weight:bold;
	background-color:#D5007F;
	rotate:-3deg;
}

p.duar{
	font-size:30px;
}

p.typ{
	font-size:50px;
	font-weight:bold;
	text-transform:uppercase;
	text-shadow: 2px 2px 5px #fff;
}

div.expl{
	margin:30px 0px;
}

div.result{
	background-image: url("https://img1.picmix.com/output/stamp/normal/6/4/3/4/2454346_b817a.gif");
}

p.cred{
	color:gray;
	font-size:10px;
	font-family:courier;
	text-align:center;
	font-weight:normal;
	margin:10px;
}

hr{
	border: solid black 1px;
}

section{
	min-height:400px;
}

img{
	width:180px;
	height:auto;
}


